$hoverColor : antiquewhite;
$gapDistance : 4em;
$backgroundColor : #444444;
$paddingDistance : .25em;

.CatNav {
    border-top: 1px ;
    background-color: $backgroundColor;

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: $gapDistance ;
        padding-top: $paddingDistance;
        padding-bottom: $paddingDistance;

        a {
            text-decoration: none;
            color: white;
            font-size: .8em;
            font-weight: 700;
            
            &::after{
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                height:0.2em;
                background-color: $hoverColor;
                transform: scaleX(0);
                transition-property: transform;
                transition-duration: 0.2s;
            }

            &:hover{
                &::after{
                    transform: scaleX(1.1);
                }
                color:$hoverColor;

            }
        }
    }

}