@import "../../style/scss/vars/vars";
@import "../../style/scss/mixins/mixins";

.CatNav {
    border-top: 1px ;
    background-color: $backgroundColor;

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: $gapDistance ;
        padding-top: $paddingDistance;
        padding-bottom: $paddingDistance;

        a {
            text-decoration: none;
            color: white;
            font-size: .8em;
            font-weight: 700;
            
            @include underlineTransition(1.1,.2s,$hoverColor)
        }
    }

}