.Header{
    background-color: black;
    width: 100%;
  }
  
  .Header-Name{
    color: white;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .SearchBar{
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Header-Name > h1{
    padding-right: 20%;
  }
  
  .SearchBar > button {
    height: 2em;
    width: 2em;
  }
  
  .SearchBar > select {
    height: 2em;
    width: 6em;
  }
  
  .SearchBar > input {
    height: 2em;
    width: 35em;
  }
  
  .SeachBar-Icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
    margin-right: 2%;
  }
  
  .SeachBar-Icons a{
    text-decoration: none;
    color: white;
  }
  
  .SeachBar-Icons i{
    height: 1.2em;
    width: 1.2em;
  }

  .cart-n-counter{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #cart-item-counter{
    border-radius: 50%;
    background-color: gold;
    height: 1em;
    width: 1em;
    text-align: center;
    position: absolute;
    left: 97.5%;
    top: 1.5%;
    line-height: 90%;
  }
  p{
    font-size: .75em;
    color: black;
    font-weight: 700;
  }